@font-face {
  font-family: Mulish;
  src: url(./../fonts/Mulish-Regular.ttf);
}
@font-face {
  font-family: Lato;
  src: url(./../fonts/Lato-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body_section {
  display: flex;
}
.container {
  max-width: 1420px;
  padding: 0 20px;
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
  margin-top: 37px;
}
.logo img {
  width: 34.915px;
  height: 38.587px;
  flex-shrink: 0;
  color: #f3d7ff;
}
.logo a {
  margin-left: 20px;
  color: var(--sidebar-gray, #a4a6b3);
  font-family: Mulish;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}
nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #363740;
  width: 255px;
  height: 1400px;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  margin-left: 20px;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 65px;
  row-gap: 36px;
}
li {
  list-style-type: none;
  flex-direction: column;
  width: 159px;
  color: var(--main-light-blue, #dde2ff);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}
li a {
  color: var(--sidebar-gray, #a4a6b3);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}
.moon {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 30px;
  margin-right: 70px;
}
.swicht_on {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.swicht_on h5 {
  width: 98px;
  height: 19px;
  flex-shrink: 0;
  color: #a4a6b3;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 34px;
  background: linear-gradient(to right white, rgb(15, 18, 34) 3);
}

.switch input {
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #a4a6b3;
  transition: 0.4s;
}

.slider.round {
  border-radius: 34px;
  background: linear-gradient(right white, #090b1b);
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #363740;
}

input:checked + .slider:before {
  transform: translateX(0px);
}
.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-top: 28px;
}
.layout a {
  color: #fff;
}
/* header_sexction///////////////////////////////////////// */
.img_teg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 33px 36px 53px 29px;
  width: 1120px;
  height: 44px;
  flex-shrink: 0;
}

.man {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1000px;
}
.layout a {
  color: var(--sidebar-gray, #a4a6b3);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}
.man h1 {
  width: 109px;
  height: 18px;
  flex-shrink: 0;
  color: var(--grayscale-black, #252733);
  text-align: right;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-right: 15px;
}
.man img {
  width: 43.333px;
  height: 45.333px;
  flex-shrink: 0;
  border-radius: 50%;
}
/* main_section///////////////////////////////////////////////// */
.over {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.one {
}
.adds {
  display: flex;
  gap: 14px;
}
.hole {
  /* padding-left: 309px; */
}
.add {
  width: 71.094px;
  height: 35.501px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #10cd45;
  border: none;
}
.add a {
}

.add_link {
  padding: 10px 0px;
  padding-right: 20px;
}
/* table_section//////////////////////////////////////////////////////// */
.table_content {
  margin-top: 64.64px;
  margin-left: 20px;
  border: 1px solid var(--grayscale-divider, #dfe0eb);
  background: var(--grayscale-white, #fff);
  border-radius: 5px;
}
.table {
  table-layout: auto;
  width: 1237px;
  height: 66px;
  flex-shrink: 0;
  border-radius: 8px;
}
.all p {
  margin-bottom: 90px;
  position: relative;
  padding-left: 120px;
  margin-top: 80px;
  color: var(--grayscale-black, #252733);
  font-family: Mulish;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}

.grid_colum :nth-child(1) {
  margin-right: 100px;
}
thead {
}
th {
  width: 72.353px;
  height: 19.067px;
  flex-shrink: 0;
  color: #878787;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #fff;
}
.h1_span {
  display: flex;
  flex-direction: column;
}
.tbody_td .back_gray {
  border-bottom: 1px solid black;
}

.img_text {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  height: 66px;
  gap: 25px;
}
.img_text img {
  border-radius: 50%;
}

tr {
  table-layout: auto;
  width: 1120px;
  height: 66px;
  flex-shrink: 0;
}

td,
th {
  /* border: 1px solid black; */
  padding: 4px 29px;
}
tbody {
  table-layout: auto;
  width: 1120px;
  height: 66px;
  flex-shrink: 0;
}
span {
  color: var(--grayscale-gray-light, #c5c7cd);
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1px;
  margin-top: 6px;
}
p {
  color: var(--grayscale-black, #252733);
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.red {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.red h6 {
  display: flex;
  width: 30px;
  height: 14px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--grayscale-white, #fff);
  text-align: center;
  font-family: Mulish;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-radius: 100px;
  background: var(--red-default, #f12b2c);
  width: 54px;
  height: 24px;
  flex-shrink: 0;
}
.green {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.green h6 {
  color: var(--grayscale-white, #fff);
  text-align: center;

  font-family: Mulish;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: flex;
  width: 52px;
  height: 14px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--green-default, #29cc97);
  width: 76px;
  height: 24px;
  flex-shrink: 0;
}
.yellow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.yellow h6 {
  width: 52px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--yellow-default, #fec400);
  color: var(--grayscale-white, #fff);
  text-align: center;
  font-family: Mulish;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: white;
}
td {
  color: #414141;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;

  padding-left: 60px;
}

.grid_colum {
}

.head_th {
  padding-right: 10px;
}

.head_th1 {
  padding-right: 110px;
}
.tbody_td:hover {
  background-color: #c5c7cd;
  transition: 0.5s;
}
.back_gray {
  border-bottom: 1px solid #252733;
}
